@font-face {
    font-family: 'Kamerik 105';
    src: url('Kamerik105-Heavy.woff2') format('woff2'),
        url('Kamerik105-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

